*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background-color: #EEEEEE;
}

/*Imagen de fondo del login*/
.bodyLogin{
	background-image: url("../imgs/perroGato.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
}

/* Pantalla de login */
.login{
	float: none;
	margin-top: 3em;
	opacity:0.9;
}

/* Color de Todos los paneles */
.colorPanel{
	background-color: #F5F5F5;
	border-radius:1em;
}

/* Color de fondo del navbar*/
.navbar-default {
  background-color:#adbcf1;
}


/* Color del texto de botones del navbar*/

.navbar-default .navbar-nav>li>a {
	color:#f2f2f2;
	
}
.negrita{
	font-weight:bold;
}

/*Divisor entre partes del form*/

hr{
	border-top: 2px solid #c4c4c4;
}

.hrModal{
	border-top: 2px solid #c4c4c4;
	margin-left:15px;
	margin-right:15px;
}

th{
	color:#777;
	font-size: 85%;
}

/*Boton patita*/

.icon-button{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	outline:none;
	border:0;
	background:transparent;
	color:#000000;
}
.icon-button-lg{
	font-size:150px;
}
.icon-button:hover{
	color:#c4c4c4;
}
.icon-button-active{
	color:#758ee8;
}

/*Error en un div entero*/
.con-error{
	border-width : 2px;
	border-style:solid;
	border-radius:15px;
	border-color:#843534;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #ce8483;
	box-shadow:inset 0 2px 2px rgba(0,0,0,.100),0 0 15px #ce8483
	
}
/*centrar los iconos en el div*/
.centrado{
	position:relative;
	display:inline-block;
	float:center;
	text-align: center;
	top:50%;
}
